<!DOCTYPE html>
<html ng-app="carsApp">
  <head>
    <meta charset="utf-8">
    <title>ng-route practice</title>
    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>	
  </head>
  <body>

  </body>
</html>
